yt-dlp
streamlit
pandas
numpy
scikit-learn
plotly
matplotlib
seaborn
wordcloud
networkx
openpyxl
requests
sentence-transformers
google-api-python-client
isodate
faster-whisper
beautifulsoup4
opencv-contrib-python-headless  # ✅ headless build for servers (no GUI deps)
Pillow
pytesseract
tensorflow-cpu==2.16.1
tensorflow-hub
selenium
tqdm
